<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.neville.coronabuzzer.dev"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Corona Buzzer</name>

  <description>
      Fun app to encourage social distancing during Covid-19 time
  </description>

  <author href="" email="">
     cs4645749 
  </author>
    
  <icon src="icon.png" />

</widget>
